body{
    margin: 0px;
    background-color:lightslategray;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.15)),
    url("../images/customercare.jpg");
    height: 100vh;
    width: 100vh;
}